@mixin reset-list{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

@mixin reset-btn{
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
}

@mixin text{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
}

@mixin font-face($font-family, $url, $weight) {
	@font-face {
		font-family: '#{$font-family}';
		src: url('../fonts/#{$url}.woff2') format('woff2'),
		url('../#{$url}.woff') format('woff');
		font-weight: #{$weight};
		font-display: swap;
		font-style: normal;
	}
}