:root{
    --header-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.1);
    --orange-btn: #f90;
    --container-width: 1200px;
    --container-padding: 0 15px;
    --section-padding: 50px 0;
    --font-family: Arial, Helvetica, sans-serif;
}
